.top-content
    span#main-title Eastagram
    .other-top-content
        input.search-input#search-input(type="search", placeholder="Search", autocomplete="off")
        .nav-bar
            i(class="fas fa-home")#home-icon
            i(class="fab fa-telegram-plane")#message-icon
            i(class="fas fa-user-circle")#user-icon
script(src="../js/icons.js")