extends ./partials/head
block content
    .title-eastagram Eastagram
    hr
    .title-404 404
    .text-404 Did you lost your way?
    .get-back#get-back Click here to go back.
            
    script
        include ../public/js/404.js