extends ./partials/head
block content
    .register-box
        .register-box-title Eastagram
        form#register-form
            input.username-input#username-input(type="text" placeholder="username" required)
            input.name-input#name-input(type="text" placeholder="name" required)
            input.surname-input#surname-input(type="text" placeholder="surname" required)
            input.email-input#email-input(type="text" placeholder="email" required)
            input.password-input#password-input(type="password" placeholder="password" required)
            button.submit-button#submit-button(type="submit") Sign Up
        .results#results
    .login-forward-box
        .login-span Have an account?
        span#login-button Log in
    script
        include ../public/js/register.js