doctype
html
    head
        include ../partials/head.pug
    body
        .title-eastagram Eastagram
        hr
        .title-404 404
        .text-404 Did you lost your way?
        .get-back#get-back Click here to go back.
        
    script(src='/js/404.js')