html
    head
        include ../partials/head.pug
        link(rel="stylesheet", href="/css/top.css")
    body
        .all-content
            include ../partials/top.pug
            .main-content
                .post-content
                    .each-post
                        .post-header
                            img(src="../img/profile1.jpeg")
                            span burcuozberk
                        .post-image
                            img(src="../img/post1.jpeg")

                    .each-post
                        .post-header
                            img(src="../img/profile1.jpeg")
                            span burcuozberk
                        .post-image
                            img(src="../img/post1.jpeg")
                .profile-content#profile-content
                    .profile-content-head
                        img(src="../img/profile1.jpeg")
                        .profile-content-head-writings
                            .profile-content-username #{username}
                            .profile-content-name #{name}
                    hr
                    .profile-content-first-section
                        span.profile-content-bio-info-title Bio info
                        button.profile-bio-edit-button#bio-edit-button Edit
                    .profile-content-bio-info#profile-content-bio-info #{bio}
    script(src="../js/home.js")