html
    head
        include ../partials/head.pug
        link(rel="stylesheet", href="/css/top.css")
        script(type='text/javascript', src="/js/home.js")
        script(type='text/javascript', src="/js/top.js")
    body
        .all-content#all-content
            include ../partials/top.pug
            .main-content
                .post-content
                    .each-post
                        .post-header
                            img(src="../res/img/profile1.jpeg")
                            span merveyalcin
                        .post-image
                            img(src="../res/img/post1.jpeg")

                    .each-post
                        .post-header
                            img(src="../res/img/profile1.jpeg")
                            span kyonseungshawama
                        .post-image
                            img(src="../res/img/post2.jpeg")
                .profile-content#profile-content
                    .profile-content-head
                        img(src="../res/img/profile1.jpeg")
                        .profile-content-head-writings
                            .profile-content-username #{username}
                            .profile-content-name #{name}
                    hr
                    .profile-content-first-section
                        span.profile-content-bio-info-title Bio info
                        button.profile-bio-edit-button#bio-edit-button Edit
                    .profile-content-bio-info#profile-content-bio-info #{bio}
                .upload-photo-content#upload-photo-content
                    span.upload-photo-content-title Upload photos
                    span.upload-photo-content-description The people follows you will see your photos
                    input(type="file").upload-file-input#upload-file-input
                    span.upload-submit-button#upload-submit-button Upload